

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .comptitle {
        color: black;
        font-size: 36px;
        opacity: 0;
        animation: fadeInTitle 1s ease-in-out forwards; 
        animation-delay: 1.5s;
      }

    .form-wrapper{
        background-color: rgb(90, 121, 148);
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #e8e8ee;
            font-weight: bold;
            font-size: 24px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;
            }
            button{
                background-color: lightblue;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 12px;
                cursor: pointer;
            }
        }
        p{
            font-size: 12px;
            margin-top: 10px;
            color: aliceblue;
        }
    }
}